@model BusShuttleMVC.Models.EntryViewModel

<form asp-action="StartRoute" asp-controller="Driver" method="post">
    <div>
        <label for="busNumber">Bus Number:</label>
        <select id="busNumber" name="busNumber">
            @foreach (var bus in Model.Buses)
            {
                <option value="@bus.BusNumber">@bus.BusNumber</option>
            }
        </select>
    </div>
    <div>
        <label for="busLoopId">Loop:</label>
        <select id="busLoopId" name="busLoopId">
            @foreach (var loop in Model.BusLoops)
            {
                <option value="@loop.Id">@loop.Name</option>
            }
        </select>
    </div>
    <input type="submit" value="Start Route" />
</form>
    