@{
    ViewData["Title"] = "Driver";
}
<div class="justify-content-center text-center align-items-center">
    <h1>@ViewData["Title"]</h1>
    <p>Maybe there could be more things here in the future :)</p>
</div>
<div class="d-flex justify-content-center align-items-center">
    <a asp-controller="Driver" asp-action="CreateEntry">
        <button class="btn btn-primary">Create Entry</button>
    </a>
</div>