@{
    ViewData["Title"] = "Driver";
}
<h1>@ViewData["Title"]</h1>

<p>dashboard for drivers</p>
<a asp-controller="Driver" asp-action="CreateEntry">
    <button class="btn btn-primary">Create Entry</button>
</a>