@{
    ViewData["Title"] = "Manager Dashboard";
}
<h1>@ViewData["Title"]</h1>

<a asp-controller="Manager" asp-action="ManageBuses">
    <button class="btn btn-primary">Manage Buses</button>
</a>
<a asp-controller="Manager" asp-action="ManageRoutes">
    <button class="btn btn-primary">Manage Routes</button>
</a>
<a asp-controller="Manager" asp-action="ManageDrivers">
    <button class="btn btn-primary">Manage Drivers</button>
</a>
<a asp-controller="Manager" asp-action="ManageBusStops">
    <button class="btn btn-primary">Manage Stops</button>
</a>
<a asp-controller="Manager" asp-action="ManageBusLoops">
    <button class="btn btn-primary">Manage Loops</button>
</a>