@model IEnumerable<BusRouteStopViewModel>

@if (Model == null || !Model.Any())
{
    <h2 class="text-center pt-5">No bus stops have been assigned to this route.</h2>
    return;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stop in Model)
        {
            <tr>
                <td>@stop.BusStopName</td>
                <td>@stop.Latitude</td>
                <td>@stop.Longitude</td>
            </tr>
        }
    </tbody>
</table>