@model BusShuttleMVC.Models.ManageBusLoopsViewModel
@{
    ViewData["Title"] = "Manage Bus Loops";
}
<h2>Manage Bus Loops</h2>

<form asp-action="CreateBusLoop" method="post">
    <input type="text" class="standard-text-input" name="busLoopName" placeholder="Enter bus loop name" required />
    <button type="submit" class="btn button-primary">Create Bus Loop</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BusLoops)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <form asp-action="DeleteBusLoop" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn delete-button"></button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>List of all Bus Route Ids</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.BusRoutes)
        {
            <tr>
                <td>@route.Id</td>
            </tr>
        }
    </tbody>
</table>