<div class="row text-center">
    <div class="col-md-4">
        <h2>Manage Loops</h2>
    </div>
    <div class="col-md-4">
        <h2>Manage Stops</h2>
    </div>
    <div class="col-md-4">
        <h2>Manage Routes</h2>
    </div>
</div>